{{#each message in Chat.messages}}
  <div class="row">
    <div class="col-md-8">
      {{message.author}}
      <small>&nbsp;&nbsp;{{message.created_at_humanized}}</small>
    </div>
    <div class="col-md-4">
      {{#if Chat.editable}}
         <button class="btn btn-link pull-right" style="padding: 0" {{action "remove" target="message"}}><i class="fa fa-trash-o"></i>{{Chat.i18n.delete}}</button>
      {{/if}}
    </div>
  </div>
  <pre style="margin-bottom: 20px">{{message.text}}</pre>
{{/each}}

<center><i id="chatLoader" class="fa fa-spinner icon-spin"></i></center>
<button id="showMore" class="hide btn btn-inverse" {{action "loadMessages" target="Chat"}}>
  {{Chat.i18n.showMore}}
</button>
