<table class="table table-striped">
  <thead>
    <th>Name</th>
    {{#each attribute in App.PlayerPool.attributes}}
      <th>
        {{attribute.name}}
        {{#if App.editable}}
          &nbsp;&nbsp;<i class="fa fa-times-circle" rel="tooltip" {{action "remove" target="attribute"}}></i>
        {{/if}}
      </th>
    {{/each}}
    <th></th>
  </thead>
  {{#each member in App.PlayerPool.players}}
    <tr>
      <td style="height: 39px;">
        {{#if App.editable}}
          {{view Em.TextField valueBinding="member.name" classNames="form-control required l" placeholder="Name"}}
        {{else}}
          {{member.name}}
        {{/if}}
      </td>
      {{#each attribute in App.PlayerPool.attributes}}
        {{#view MembersTable.MemberValueView memberBinding="member" attributeBinding="attribute"}}
          {{#if attribute.isCheckbox}}
            {{#if App.editable}}
              {{view Ember.Checkbox checkedBinding="view.memberValue" editableBinding="MembersTable.editable"}}
            {{else}}
              {{#if view.memberValue}}
                <i class="fa fa-check" />
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if attribute.isTextfield}}
            {{#if MembersTable.editable}}
              {{view view.TypeaheadTextField classNames="m form-control" nameBinding="attribute.id" valueBinding="view.memberValue"}}
            {{else}}
              {{view.memberValue}}
            {{/if}}
          {{/if}}
        {{/view}}
      {{/each}}

      <td width="50px">
        {{#if App.editable}}
          <i class="fa fa-times" rel="tooltip" title="Delete" {{action "remove" target="member"}}></i>
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>

<div style="text-align: right"><em>{{App.PlayerPool.players.length}} {{MembersTable.i18n.navName}}</em></div>
